## Implicit conversion

In [1]:
# implicit type conversion

a = 10
b = 1.5
c = a + b  # a convert to float
print(c)


d = True
e = a + d  # bool convert to 1 or 0
print(e)

11.5
11

## Explicit str to int float

In [2]:
# explicit conversion

s = '135'

i = 10 + int(s)  # str to int conversion

f = float(s)  # str to float conversion

print(i)
print(f)

145
135.0

## List ,tuple str conversion 1

In [4]:
# explicit conversion

s = 'aryadeep'

print('str to list', list(s))

print('str to tuple', tuple(s))

print('', set(s))

str to list ['a', 'r', 'y', 'a', 'd', 'e', 'e', 'p']
str to tuple ('a', 'r', 'y', 'a', 'd', 'e', 'e', 'p')
 {'y', 'd', 'e', 'a', 'p', 'r'}

## …… to str

In [5]:
l = ['a', 'b', 'c']

print('list to str', str(l))

a = 10

b = 11

print('int to str,', str(a) + str(b))

c = 12.5

print('float to str', str(c))

list to str ['a', 'b', 'c']
int to str, 1011
float to str 12.5

## ….. To list

In [6]:
t = (10, 20, 30)

print('tuple to list', list(t))

s = {10, 20, 30}

print('set to list', list(s))

tuple to list [10, 20, 30]
set to list [10, 20, 30]

## Int to binary

In [7]:
# int to binary

a = 20

print('int to binary 20-->', bin(a))

print('int to hexa 20-->', hex(a))

print('int to octa 20-->', oct(a))

int to binary 20--> 0b10100
int to hexa 20--> 0x14
int to octa 20--> 0o24

## Binary to int

In [8]:
# int to binary

a = "1001"

print('binary to int', int(a, 2))  # base is 2

b = "12"

print('oct to int', int(b, 8))  # base is 8

c = "A1"

print('hexa to int', int(c, 16))    # base is 16

binary to int 9
oct to int 10
hexa to int 161