In [1]:
# if not installed pandas library
!pip install pandas

Requirement already satisfied: pandas in c:\anaconda\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\anaconda\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

In [4]:
lst = [1, 2, 3, 4, 5]

In [7]:
type(lst)

list

In [5]:
np_arr = np.array(lst)
np_arr

array([1, 2, 3, 4, 5])

In [6]:
type(np_arr)

numpy.ndarray

In [9]:
# convert lst (list) to pandas Series
pd_ser = pd.Series(lst)
pd_ser   # 1D , 1 row-col

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
# 2D list creation
twoDlist = [lst, lst, lst]
twoDlist

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [12]:
type(twoDlist)

list

In [13]:
# convert to pandas Series
pd.Series(twoDlist)

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [14]:
# convert to pandas DataFrame
pd.DataFrame(twoDlist)

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [15]:
df = pd.DataFrame(twoDlist, columns=['A', 'B', 'C', 'D', 'E'])
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
# to delete dataframe
del df

In [18]:
df

NameError: name 'df' is not defined