In [1]:
def hello():
    print("Hello World")

In [2]:
hello()

Hello World

In [3]:
# use it with one argument
def hello(name):
    print("hello", name)

In [4]:
print("hello", "arya")

hello arya

In [6]:
print("hello", "Rohit")

hello Rohit

In [8]:
a = "Arya"
hello(a)

hello Arya

In [9]:
def sum(a, b):
    total = a+b;
    a=10;
    print(a)
    return total

In [10]:
sum(20,30)

10

50

In [11]:
def sum2(a, b):
    a=10;
    total = a+b;
    
    print(a)
    return total

In [12]:
sum2(20,30)

10

40

In [13]:
def sum3(a, b):
    total = a+b;
    a=10;
    total = a+b;
    
    print(a)
    return total

In [14]:
sum3(20,30)

10

40

In [15]:
def add_list(mylist):
    abc = 0
    for a in mylist:
        abc += a
        
    return abc

mylist = [1,2,3,4,5]
add_list(mylist)

15

In [17]:
def smallest_num(a,b,c):
    return min(a,b,c)
smallest_num(1,2,3)

1

In [18]:
def check(x):
    if x < 5:
        x=5
    if x % 2 ==0:
        print(x, 'is even')
    else:
        print(x, 'is odd')
        
a=4
check(4)

5 is odd

In [21]:
def print_new(x,y):
    for i in range(y):
        print(x)
z=3
        
print_new("Greetings", z)

Greetings
Greetings
Greetings

In [22]:
def winner(names):
    temp = names[0]  # Tom
    names[0] = names[-1] # Tom = Spike  ['Spike', 'Jerry', 'Spike']
    names[-1] = temp # ['Spike', 'jerry', 'Tom']
    return names
r= ["Tom", "jerry", "Spike"]
winner(r)

['Spike', 'jerry', 'Tom']

In [26]:
# *args, *kwargs = keyword arguments

sum4 = sum(1,2)
print(sum4)

10
3

In [ ]:
[1,2,3,4,5]

In [29]:
def any_num(*args):
    sum_ = 0
    for i in args:
        sum_ += i
    print(sum_)
        
any_num(1, 4, 3)

8

In [33]:
def any_kw_number(**kwargs):  #a=10, b=20, c=30, d=40
    sum_ = 0
    for value in kwargs.values():
        sum_ += value
    print(sum_)
        
any_kw_number(a=1, b=4, c=3)

8

In [34]:
def any_kw_number(**kwargs):  #a=10, b=20, c=30, d=40
    for value in kwargs.values():
        print(value)
        
any_kw_number(a=1, b=4, c=3)

1
4
3

In [35]:
# lambda function
g = lambda x: x*x
print(g(2))

4

In [37]:
g = lambda x,y: x+y
print(g(2,3))

5

In [ ]:
# lambda function with filter, map, reduce

# filter(lambda arg : expres, input_collection)

In [39]:
list_ = [5,7,12,55,13,10002,91]

selected_list = list(filter(lambda x: (x%2 != 0), list_))
print(selected_list)

[5, 7, 55, 13, 91]

In [41]:
list_ = [5,7,12,55,13,10002,91]

filter(lambda x: (x%2 != 0), list_)

In [42]:
my_list = ["kayak", 'boat', "radar", "satellite", "rotor"]
result = list(filter(lambda x: (x== "".join(reversed(x))), my_list)) ## palindromes
print(result)

['kayak', 'radar', 'rotor']

In [ ]:
# lambda fuction with map

## map - not reduce input number, rather transforming the input
# [1,2,3,4,5] -> [11,12,13,14,15]

In [43]:
list_ = [5,7,12,55,13,1002, 91]
mapped_list = list(map(lambda x: x*2, list_))
print(mapped_list)

[10, 14, 24, 110, 26, 2004, 182]

In [47]:
from functools import reduce

In [55]:
## reduce is also used with lambda
# Output -> 1 number(Aggrigation)

list_ = [5,7,12,55,13,1002, 91]
reduce(lambda a,b : max(a,b), list_)

1002