### Importing Libraries

In [8]:
# !pip install plotly

import os
import pandas as pd
import plotly.express as px
import plotly.offline as pof


# Load the csv file and save it in Dataframe
df = pd.read_csv('gdp.csv')

# Find GDP Growth of All Countries

final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]
    data = df_pr.values
    gdp_change = [0]
    
    for i in range(1, len(data)):
        previous_year_GDP = data[i-1][3]
        current_year_GDP = data[i][3]
        
        gdp_change.append(round(((current_year_GDP - previous_year_GDP)/ previous_year_GDP)*100,2 ))
    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)

df = pd.concat(final_data, axis = 0)
df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

### GDP Comparision Between Specific Countries

In [4]:
def compare_gdp_country_code(lst , isOpen):
    dfs = []

    for i in lst:
        dfs.append(df[df['Country Code'] == i])

        df_pr = pd.concat(dfs, axis = 0)
        
    fig = px.line(df_pr, x = 'Year', y = 'GDP', title = 'GDP Comparision -'+ '|'.join(lst), color = 'Country Name')

    pof.plot(fig, filename = ' vs '.join(lst) + 'Growth.html', auto_open = isOpen)
    

compare_gdp_country_code(['IND', 'USA' , 'CHN', 'ITA'], True)

### GDP Growth Comparision of All Countries

In [6]:
fig = px.line(df, x = 'Year', y = 'GDP', title = 'GDP Comparision', color = 'Country Name')

pof.plot(fig, filename = 'GDP Growth of All Countries.html', auto_open = True)

'GDP Growth of All Countries.html'

### GDP Growth of all Countries Graph Individually

In [20]:
os.mkdir('GDP Growth Each Country')

for country_code in df['Country Code'].unique():     
    df_pr = df[df['Country Code'] == country_code]

    fig = px.line(df_pr, x = 'Year', y = 'GDP', title = country_code+ ' GDP Growth')

    pof.plot(fig, filename = 'GDP Growth Each Country/' + country_code +' GDP Growth.html', auto_open = False)

### GDP Growth between 1960 - 2016

In [24]:
dfs = []

for country_name in df['Country Name'].unique(): 
    df_pr = df[df['Country Name'] == country_name]
    if (len(df_pr) == 57):
        dfs.append(df_pr)  # now we have only 120 countries data 
        
df_pr = pd.concat(dfs, axis=0)

fig = px.line(df_pr, x = 'Year', y = 'GDP', title = 'GDP Growth', color= 'Country Name')

pof.plot(fig, filename = 'GDP Growth.html', auto_open = True)

'GDP Growth.html'