In [1]:
age = 38
name = "Aryadeep"
weight = 58.5

In [2]:
print(age)
print(name)
print(weight)

38
Aryadeep
58.5

In [3]:
price = 100
tax = 18
total_price = price + tax
print(total_price)

118

In [4]:
x = 10
y = "geek"
z = 20
w = z
w = 30
print(x, y, z, w)

10 geek 20 30

In [5]:
x = 10
print(x)
x = "geek"
print(x)

10
geek

In [6]:
is_valid = True
marks = 90
pi = 3.14
city_name = "Kolkata"

In [7]:
print(is_valid)
print(marks)
print(pi)
print(city_name)

True
90
3.14
Kolkata

In [8]:
print(nd) # nameError

NameError: name 'nd' is not defined