In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('BlackFriday.csv')

del df['Product_Category_2']
del df['Product_Category_3']

df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969

### User ID's of all unique users

In [7]:
df['User_ID'].unique()

array([1000001, 1000002, 1000003, ..., 1004113, 1005391, 1001529],
      dtype=int64)

### How many unique users are there

In [6]:
df['User_ID'].nunique()     # nunique() => count of total unique customers

5891

### How many unique products are there

In [8]:
df['Product_ID'].nunique()

3623

### What are the unique Genders are there

In [9]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

### What are the unique age catagories are there

In [10]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

### How many unique Occupations are there

In [11]:
df['Occupation'].nunique()

21

### What are the cities they are from

In [12]:
df['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

### How many years the particular customer stays at the city

In [13]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

### Marital Status of the customers

In [14]:
df['Marital_Status'].unique()

array([0, 1], dtype=int64)

### How many product types are there in product category

In [15]:
df['Product_Category_1'].unique()

array([ 3,  1, 12,  8,  5,  4,  2,  6, 14, 11, 13, 15,  7, 16, 18, 10, 17,
        9], dtype=int64)

### How much total amount is sold in black friday sale

In [16]:
df['Purchase'].sum()

5017668378

### Average purchase amount per user

In [17]:
df['Purchase'].mean()

9333.859852635065

-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------

In [19]:
for column in df.columns:
    print(column)

User_ID
Product_ID
Gender
Age
Occupation
City_Category
Stay_In_Current_City_Years
Marital_Status
Product_Category_1
Purchase

In [21]:
# uniqueness of all columns

for column in df.columns:
    print(column,":", df[column].nunique())

User_ID : 5891
Product_ID : 3623
Gender : 2
Age : 7
Occupation : 21
City_Category : 3
Stay_In_Current_City_Years : 5
Marital_Status : 2
Product_Category_1 : 18
Purchase : 17959